
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*Navigation bar*/
nav{
    background-color:#ffffffca;
    padding: 1em 5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav a{
    padding: 2em;
}
.nav-logo{
   float: left;
   color: #40e0d0;
}
.nav-links{
    float: right;
    color: #000000;
}
.nav-logo a{
    color: #40e0d0;
    font-size: 22px;
    font-weight: bolder;
}
.nav-logo a:hover{
    text-decoration: none;
    color: #40e0d0;    
}
.nav-links a{
    font-size: 19px;
    text-decoration: none;
    color: #000000;
}
.nav-links a:hover{
    text-decoration: none;
    color: #40e0d0;
}

/*This style below contains only the landing page

There would be comment at where it stopped*/
/*Landing page styling starts here*/

.landing-page{
    background-image: url(../images/index1.jpg);
    background-size: cover;
    min-height: 95vh;
    height: 100%;
    padding:4em 5em ;


}
.landing-page p{
    font-size: 45px;
    color: #fff;
    text-justify: bottom;
}
.landpg-btn{
    border: #ffa3ae;
}
.landpg-btn a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
}
.landpg-btn:hover{
   zoom: 105%;
    
}
.landpg-btn{
   padding: 12px;
   background-color: #ffa3ae;
}
/* Landing page styling stops here*/
#about{
    margin: 2em;
    min-height: 60vh;
}
.about-image{
    float: left;
    width: 40%;
    height: 305px;
    margin: 1em;
}
.about-text{
    padding: 7px 5px;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    
}
#fewbuttons{
    margin: 2em;
    text-align: center;
    font-size: 16px;
    min-height: 50vh;
}

.clk button{
    margin: 2em;
    margin-top: 5em;
    margin-left: 2em;
    background-color: #40e0d0;
    border: 3px solid #40e0d0;
    padding: 7px;
    font-weight: bold;
}
.clk{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 #c3dadf;
    margin: 1em;
    padding: 2em 5em;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
    min-width: 250px;
    height: 300px;
}
.winteraideme h1{
    text-align: center;
    color: #40e0d0;
    font-size: 40px;
}
.winteraideme p{
    text-align: center;
    color: #000000;
    font-size: 20px;
}
#aidmevictims{
    min-height: 75vh;
    padding: 2em 4em ;
    margin: 0;
    background-color: #f5f5f5;
}
#aidmevictims img{
    width: 70%;
    height: 150%;
}
#aidmevictims img:hover{
    opacity: 0.5;
}
/* This consists of the card styling*/
.cards{
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 #c3dadf;
    margin: auto;
    margin-left: 2em;
    margin-bottom: 2em;
    text-align: center;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
    min-width: 200px;
    
  }  
  .title {
    color: #000000;
    font-size: 20px;
  }
  .dtn-btn{
      margin: 10px;
      text-decoration: none;
      border:5px solid #40e0d0;
      background-color:#40e0d0;
      border-radius: 5%; 
  }
  .dtn-btn a{
    font-weight: bold;
      color: white;
  }
  .dtn-btn a:hover{
      text-decoration: none;
      color: black;
  }
  .vwmore{
      margin: 4em;
      text-align: center;
      background-color: #fff;
      cursor: pointer;
      border: 1px solid azure;
      font-size: 22px;
      
  }
  #volunteer{
      min-height: 45vh;
      
    }
      
  #volunteer h2{
      text-align: center;
      padding-bottom: 12px;
      padding-top: 12px;
      color: #808080;
  }
  
  /* The style below contains that of the contact form*/


 
/*This below is the styling for details before donation
.donation{
    margin: 30px;
    padding: 3em 3em ;
}
.pop-up-showing-details{*/

    footer{
        background-color: #40e0d0;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
